<head>
    <meta name="viewport" content="initial-scale=1" />

    <title>The Marauder's Map</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/styles.css">

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>