<!doctype html>
<html>
<% include header%>

    <body>
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Find Person</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
        <div class="container">
            <div class="row">
                <form enctype="multipart/form-data" action="/image/upload" method="post">
                    <input id="upload-input" type="file" name="uploads" multiple="multiple" accept="image/jpg">
                    <input type="submit" value="Upload Image" name="submit" />
                </form>
            </div>
        </div>
<% include footer%>
    </body>
</html>