<!doctype html>
<html>
<% include header%>

    <body>
        <div class="container">

            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span>The Marauder's Map</h1>

                <p>Login</p>

                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            </div>

        </div>
    </body>

</html>