<!doctype html>
<html>
<% include header%>

    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Find Person</h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <canvas id="canvas-video" width="640" height="480"></canvas>
                <!-- <div class="col-md-6">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-default btn-file"><span>Choose file</span><input type="file" /></span>
                    </div>
                </div> -->
                <!-- <div class="col-sm-4" onclick="window.location='/profile'">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> Add User</h3>
                    </div>
                </div> -->
            </div>

        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascript/app.js"></script>
    </body>

</html>