<!doctype html>
<html>
<% include header%>

    <body class="videopage">
        <div class="page-header text-center">
             <div class="hmenu">
                <ul>
                  <li><a class="btn btn-default btn-sm" href="/image">Upload Image</a></li>
                    <li><a class="btn btn-default btn-sm" href="/video">View Video</a></li>
                    <li><a class="btn btn-default btn-sm" href="/map">View Map</a></li>
                    <li><a href="/logout" class="btn btn-default btn-sm">Logout</a></li>

                </ul>
            </div>
            
            <h1><img width="40" src="images/slytherin_logo.png"/> Slytherin</h1>
            
        </div>
        <br>
        
        <div class="container">
            <div class="row">
            
            <div class="bg">

                <canvas id="canvas-video" width="640" height="480"></canvas>
            </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascript/video.js"></script>
        <% include footer%>
    </body>

</html>